{% load static %}
<!doctype html>
<html lang="en">
{% include 'expendable/head.html' %}
<body id="top">
{% include 'expendable/chatbot_and_loading.html' %}

<div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div> <!-- .site-mobile-menu -->


    <!-- NAVBAR -->
    {% include 'expendable/navbar.html' %}
    <!-- HOME -->
    <section class="section-hero overlay inner-page bg-image"
             style="background-image: url('{% static "images/hero_1.jpg" %}');"
             id="home-section">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h1 class="text-white font-weight-bold">View Posted Items</h1>
                    <div class="custom-breadcrumbs">
                        <a href="{% url 'homepage' %}">Home</a> <span class="mx-2 slash">/</span>
                        <a href="{% url 'lost_and_found' %}">Lost & Found</a> <span class="mx-2 slash">/</span>
                        <span class="text-white"><strong>View Posted Items</strong></span>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="site-section" id="next">
        <div class="container">

            <!-- Title -->
            <div class="row mb-5 justify-content-center">
                <div class="col-md-7 text-center">
                    <h2 class="section-title mb-2">{{ items.count }} Items Listed</h2>
                </div>
            </div>

            <div class="row">
                {% for item in items %}
                    <div class="col-md-4 mb-4">
                        <div class="card h-100">
                            <div class="card-img-top">
                                {% if item.item_image %}
                                    <img src="{{ item.item_image.url }}" alt="Item Image" class="img-fluid rounded-top"
                                         style="height: 300px; width: 500px; object-fit: contain;">

                                {% else %}
                                    <img src="{% static 'images/smartuiu.png' %}" alt="Default Image"
                                         class="img-fluid rounded-top" style="max-height: 200px; object-fit: cover;">
                                {% endif %}
                            </div>
                            <!-- Card Body -->
                            <div class="card-body">
                                <h5 class="card-title">{{ item.item_name }}</h5>
                                <p class="card-text">
                                    <span class="icon-room"></span> {{ item.location }}<br>
                                    <span class="icon-clock-o"></span> {{ item.time_date }}
                                </p>
                            </div>
                            <!-- Card Footer -->
                            <div class="card-footer">
                                <a href="{% url 'lost_and_found_single' item.id %}"
                                   class="btn btn-primary btn-sm float-end btn-success">View Details</a>
                                <a href="{% url 'lost_and_found_edit' item.id %}"
                                   class="btn btn-secondary btn-sm float-end btn-warning">Edit Details</a>

                                <!-- Delete Form -->
                                <form method="POST" action="{% url 'lost_and_found_user_section' %}" class="d-inline"
                                      onclick="return confirm('Are you sure you want to delete the post?')">
                                    {% csrf_token %}
                                    <input type="hidden" name="item_id" value="{{ item.id }}">
                                    <button type="submit" class="btn btn-danger btn-sm float-end">Delete</button>
                                </form>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <!-- Pagination Section -->
            <div class="row pagination-wrap">
                <div class="col-md-6 text-center text-md-left mb-4 mb-md-0">
                    <span>Showing {{ items.count }} Of {{ items.count }} Items</span>
                </div>
                <div class="col-md-6 text-center text-md-right">
                    <div class="custom-pagination ml-auto">
                        <a href="#" class="prev">Prev</a>
                        <div class="d-inline-block">
                            <a href="#" class="active">1</a>
                            <a href="#">2</a>
                            <a href="#">3</a>
                            <a href="#">4</a>
                        </div>
                        <a href="#" class="next">Next</a>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <section class="py-5 bg-image"
             style="background-image: url('{% static 'images/hero_1.jpg' %}');">

    </section>


    {% include 'expendable/footer.html' %}
</div>
{% include 'expendable/include.html' %}
</body>
</html>