{% load static %}
<div class="messenger-icon" id="messenger-icon" onclick="toggleChatContainer()">
    <span class="icon-chat"></span>
</div>
<div class="chat-container" id="chat-container">
    <div class="chat-header">
        UIU Chatbot
    </div>
    <div class="chat-box" id="chat-box">
        <div class="bot-msg">Hello! How can I help you?</div>
    </div>
    <div class="input-container">
        <input type="text" class="user-input" id="user-input" placeholder="Type your message...">
        <button class="send-button" onclick="sendMessage()">Send</button>
    </div>
</div>
<style>
    #overlayer {
        display: none;
    }

    .loader {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 10000;
    }

    .circle-loader {
        border: 8px solid rgba(200, 200, 200, 0.5);
        border-top: 8px solid #3498db;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        animation: spin 1s linear infinite;
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }

    /* Make the rest of the page transparent */
    body {
        background: transparent;
    }

</style>
<div id="overlayer"></div>
<div class="loader">
    <div class="circle-loader"></div>
    <img src="{% static 'images/smartuiu.png' %}" alt="Loading..." height="100" width="100" style="position: absolute;">
</div>
