{% load static %}
<header class="site-navbar mt-3">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="site-logo col-6">

                <a href="{% url 'homepage' %}">
                    <img src="{% static 'images/uiu.jpg' %}" alt="logo" height="70px" width="80px" align="center">
                </a>

                <a href="{% url 'homepage' %}">
                    <img src="{% static 'images/smartuiu.png' %}" alt="logo" height="110px" width="130px"
                         align="center">
                </a>

            </div>
            <style>
                .site-navigation .site-menu li a {
                    font-size: 15px;
                    padding: 10px;
                }
            </style>
            <nav class="mx-auto site-navigation curved-border">
                <ul class="site-menu js-clone-nav d-none d-xl-block ml-0 pl-0">
                    <li><a href="{% url 'homepage' %}" class="nav-link active">Home</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Academic
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{% url 'course_materials' %}">Course Materials</a></li>
                            <li><a class="dropdown-item" href="{% url 'study_group' %}">Study Group Creation</a></li>
                            <li><a class="dropdown-item" href="{% url 'thesis_finder' %}">Thesis Member Finder</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Campus
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{% url 'lost_and_found' %}">Lost & Found</a></li>
                            <li><a class="dropdown-item" href="{% url 'marketplace' %}">Marketplace</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Social
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{% url 'blog' %}">Blogs</a></li>
                            <li><a class="dropdown-item" href="{% url 'event' %}">Events</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Career
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{% url 'internship_and_job' %}">Internship & Job</a></li>
                            <li><a class="dropdown-item" href="{% url 'developers' %}">Developers</a></li>

                        </ul>
                    </li>
                </ul>
            </nav>

            <div class="right-cta-menu text-right d-flex align-items-center col-6">
                <div class="ml-auto d-flex align-items-center">
                    <div class="user-menu dropdown">
                        <a href="#" class="dropdown-toggle" id="userDropdown" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                <span class="user-icon position-relative">  <!-- Use position-relative for badge positioning -->
                    <i class="fas fa-user-circle fa-2x"></i>
                    {% if notifications|length > 0 or notifications_study.count > 0%}  <!-- Check if there are new notifications -->
                        <span class="badge badge-danger position-absolute"
                              style="top: 0; right: 0;">{{ notifications.count|add:notifications_study.count }}</span>
                    {% endif %}
                </span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                            <!-- User Profile -->
                            <a class="dropdown-item" href="{% url 'profile' %}">{{ user.get_full_name }}</a>
                            {% if notifications.count > 0 or notifications_study.count > 0 %}
                                <a class="dropdown-item" href="{% url 'blog_notification' %}">Notifications <span
                                        class="text-danger">({{ notifications.count|add:notifications_study.count }})</span></a>
                            {% else %}
                                <a class="dropdown-item" href="{% url 'blog_notification' %}">Notifications</a>

                            {% endif %}
                            <!-- Settings Link -->
                            <a class="dropdown-item" href="{% url 'login' %}">Settings</a>

                            <div class="dropdown-divider"></div>

                            <!-- Logout -->
                            <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                        </div>
                    </div>
                </div>

                <!-- Mobile Menu Toggle -->
                <a href="#" class="site-menu-toggle js-menu-toggle d-inline-block d-xl-none mt-lg-2 ml-3">
                    <span class="icon-menu h3 m-0 p-0 mt-2"></span>
                </a>
            </div>

        </div>
    </div>
</header>
